<main>

  <h1>Welcome to TinyAPP!</h1>
  <h2>Sign in or register now to start creating TinyURLs!</h2>
  <br>
  <br>
  <br>
  <div><a href='/login' class="btn btn-success">Sign In</a></div>
  <br>
  <br>
  <br>
  <div><a href='/register' class="btn btn-success">Register</a></div>
  <div id="formContent">
  </div>
</div>
</main>
